/**********************            BOTONES DE COMPRA Y ELEGIR           ************************/

.btn.btn-outline-success.justify-content-end {
    color: black;
    border-color: #ED6A3B

}

.btn.btn-outline-success.justify-content-end:hover{
    color: black;
    background-color: #ED6A3B;
}


